/* *{
    margin:0;
} */
body{
    height:1500px;
}
h1{
    color:red;
    border:1px solid black;
    /* margin-bottom:105px; */
    
}
h2{
    margin-top: 15px;
    position:absolute;
    top:0px;
    left:150px;
}

.heading_two{
    color:blue;
    border:1px solid black;
    /* margin-left:20px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px; */
}
.blue{
    border:1px solid blue;
    height:50px;
    width:50px;
}
.green{
    border:1px solid green;
    height:50px;
    width:50px;
    position: fixed;
    /* top:30px; */
}
