.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:1fr 150px 40px 70px 150px 70px 40px 100px;
    grid-gap:10px;
}
.section{
    background-color: orangered;
    border:1px solid black;
}
.banner{
    background-color: palevioletred;
}
.smallbanner{
    background-color: darkviolet;
}
.footer, .header{
    background-color: darkseagreen;
}
.icons{
    background-color: darkorange;
}
.header, .banner, .smallbanner, .icons{
    grid-column: 1/7;
}
.one{
    grid-column: 2/3;
}
.two{
    grid-column: 3/4;
}
.three{
    grid-column: 4/5;
}
.four{
    grid-column: 5/6;
}