.container{
    display: flex;
    flex-direction: row;
    /* height:200px;
    align-items: center;
    justify-content: center; */
}
.section{
    background-color: aqua;
    border:1px solid black;
}
.home{
    background-color: yellow;
    /* flex-basis:300px; */
    /* flex-grow:2; */
}
.about{
    background-color: burlywood;
    /* flex-grow:1; */
}
.faq{
    background-color: green;
    /* flex-grow: 1; */
}
.contact{
    background-color: red;
    /* flex-grow: 10; */
}