.container{
    display: grid;
    grid-template-columns:
    repeat(3, 1fr);
    grid-template-rows: 
    100px 100px;
    grid-gap: 10px;
}
.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
