.container{
    background-color: aqua;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}
.section{
    border: 1px solid black;
}
/* Order*/
/* .two{
    flex-basis: 300px;
} */
.one{
    margin-right:auto;
}
